<!DOCTYPE html>
<html lang="en">
	{% include __global_head.html %}
	<body class="">




			<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Blog</li>
<li><a href="#">One</a></li>
<li><a href="#">Two</a></li>
<li><a href="#">Three</a></li>
</ul>
</div>
</div>

<div class="callout large primary">
<div class="row text-center">
	<div class="column">
		<h1>Our Blog</h1>
		<h2 class="subheader">Such a Simple Blog Layout</h2>
	</div>
</div>
</div>

<div class="row align-center">
<div class="column medium-8 large-7">
<h3>Awesome blog post title <small>3/6/2016</small></h3>
<img class="thumbnail" src="https://placehold.it/850x350">
<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Mike Mikers</a></li>
<li><a href="#">Comments: 3</a></li>
</ul>
</div>
</div>




		{% comment %} smoothstate {% endcomment %}
		<div id="smoothstate" class="scene--global">

			{% comment %} wrapper {% endcomment %}




			{% comment %} end wrapper {% endcomment %}
		</div>
		{% comment %} end smoothstate {% endcomment %}

		{% include __global_footer.html %}
	</body>
</html>